djangorestframework==3.14.0
django-cors-headers==4.3.1
django-filter==23.5
django-allauth==0.60.1
djangorestframework-simplejwt==5.3.0
django-ckeditor==6.6.1
pillow==10.1.0
whitenoise==6.6.0
django-crispy-forms==2.1
crispy-tailwind==1.0.0
django-htmx==1.17.0
django-ckeditor-5==0.2.13
channels==4.0.0
channels-redis==4.1.0
django-phonenumber-field==7.2.0
phonenumbers==8.13.29
django-countries==7.5.1
django-import-export==3.3.6
markdown==3.5.1
django-storages==1.14.2
django-debug-toolbar==4.2.0
