Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-filter==23.5
django-allauth==0.60.1
djangorestframework-simplejwt==5.3.0
django-ckeditor-5==0.2.13
pillow==10.1.0
whitenoise==6.6.0
django-crispy-forms==2.1
crispy-tailwind==1.0.0
django-htmx==1.17.0
markdown==3.5.1
django-import-export==3.3.6
psycopg2-binary==2.9.9
redis==5.0.1
celery==5.3.4
stripe==7.5.0
django-celery-beat==2.5.0
django-redis==5.4.0
channels==4.0.0
channels-redis==4.1.0
websockets==12.0
django-phonenumber-field==7.2.0
phonenumbers==8.13.29
django-countries==7.5.1
gunicorn==21.2.0
python-decouple==3.8
django-taggit==5.0.1
pyotp==2.9.0
python3-openid==3.2.0
django-js-asset==3.1.2
psycopg2-binary
dj-database-url