{% extends 'base/base.html' %}
{% load static %}
{% load homepage_tags %}
{% load installers_tags %}
{% load ads_v2 %}

{% block title %}Arolana - Premium Multi-Vendor Marketplace{% endblock %}
{% block body_class %}homepage-body homepage-content-first{% if homepage_appearance and homepage_appearance.make_sections_glass %} home-glass-sections{% endif %}{% endblock %}

{% block content %}
<div class="arolana-homepage">

    {% homepage_categories %}


    {% homepage_banner "top" %}

    {% video_section %}

    {% ads_v2_recommendation_shelf "homepage" limit=8 %}
    
    {% homepage_banner "after_categories" %}

    {% homepage_sections %}

    {% homepage_banner "after_products" %}

    {% professional_services_projects_homepage_section %}

    {% manufacturers_section %}

    {% homepage_banner "after_manufacturers" %}

    {% homepage_vendor_sections %}

    {% homepage_banner "after_vendors" %}

    {% vendor_carousel %}

    {% homepage_banner "before_newsletter" %}

    {% newsletter_section %}

</div>
{% endblock %}
