{% load i18n static jazzmin %}
{% get_jazzmin_settings as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui_tweaks %}

<div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" class="img-circle elevation-2" alt="User Image">
            {% else %}
                <i class="fas fa-user-circle fa-2x"></i>
            {% endif %}
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ request.user.get_full_name|default:request.user.username }}</a>
        </div>
    </div>

    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% for app in available_apps %}
                <li class="nav-item">
                    <a href="{{ app.app_url }}" class="nav-link {% if app.app_url in request.path %}active{% endif %}">
                        <i class="nav-icon {{ app.icon }}"></i>
                        <p>{{ app.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
